<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hi!  I'm Joy</h1>
    <p>Welcome to my first blog.  I'm so happy that your path in life has brought you here.</p>
    <p>I built this blog in Rails 4 and became very familiar with using Ruby Rails.  This is a demo and I think it's so cool!</P>
    <p>If you find this interesting or find me a tad interesting you can follow me on twitter <a herf="https://twitter.com/Love1JoyC">@Love1JoyC<a/>
    </div>
  </div>
